html {
  scroll-snap-type: y mandatory;
}

body::-webkit-scrollbar,
.app__videos::-webkit-scrollbar {
  display: none;
}

.app {
  display: grid;
  place-content: center;
  height: 100vh;
}

.app__loader {
  display: grid;
  place-content: center;
  position: absolute;
  width: 100vw;
  height: 100%;
  font-size: 3em;
  font-weight: bolder;
  background: none;
  z-index: 500;
  animation: loader 1s infinite;
  -webkit-animation: loader 1s infinite;
}

@keyframes loader {
  0% {
    color:rgb(22, 33, 43);
  }
  25% {
    color: aqua;
  }
  50% {
    color:rgb(0, 132, 255);
  }
  75% {
    color: aqua;
  }
  100%{
    color:rgb(22, 33, 43);
  }
}

.app__videos {
  scroll-snap-type: y mandatory;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

@media screen and (max-width: 768px) {
  .app__videos {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
}